@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap");

@font-face {
  font-family: "Futura PT";
  src: local("Futura PT Medium"), local("Futura-PT-Medium"),
    url("../assets/fonts/FuturaPT-Medium.woff2") format("woff2"),
    url("../assets/fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lexend";
  src: local("Lexend Regular"), local("Lexend-Regular"),
    url("../assets/fonts/Lexend-Regular.woff2") format("woff2"),
    url("../assets/fonts/Lexend-Regular.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
