@import "./variables";

@media screen and (max-width: 1024px) {
  .container {
    max-width: 100%;
    padding: 0 25px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
    margin: 0 auto;
  }
}

// HEADER

@media screen and (max-width: 1440px) {
  .header__wrapper {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 1200px) {
  .header__wrapper {
    justify-content: flex-end;
  }
  .header__nav {
    display: none;
  }

  .header__btn-list {
    position: static;
    top: auto;
    transform: translateY(0);
  }

  .header__burger-btn {
    display: block;
  }
}

// FOOTER

@media screen and (max-width: 1024px) {
  .footer__wrapper {
    min-height: 130px;
    display: flex;
    align-items: flex-start;
    justify-content: normal;
    gap: 20px;
    padding: 20px 0 20px;
    flex-direction: column;
  }

  .contacts-footer__title {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .nav-footer__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    border-radius: 50px 50px 0px 0px;
    border-top: 2px solid $blue-color;
    border-right: 2px solid $blue-color;
    border-left: 2px solid $blue-color;
  }

  .footer__wrapper {
    min-height: 233px;
    padding: 20px 10px;
  }

  .nav-footer__list {
    .nav-footer__link {
      font-size: 14px;
    }
  }

  .contacts-footer__title {
    margin-bottom: 8px;
    font-size: 14px;
  }

  .contacts-footer__link {
    svg {
      width: 27px;
      height: 27px;
    }
  }
}
