$background-color: #110a1d;
$background-footer-color: #1e1231;
$background-color-opacity: rgba(255, 255, 255, 0.12);
$border-color: #9dadf2;

$text-color: #fff;
$text-color-opacity: rgba(255, 255, 255, 0.6);
$blue-color: #478bf9;
$white-color: #fff;
