@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap");
*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
oL {
  list-style: none;
}

picture {
  font-size: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

img,
svg {
  max-width: 100%;
  height: auto;
  font-size: 0;
}

img {
  content-visibility: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Lexend";
  src: local("Lexend Regular"), local("Lexend-Regular"), url("../assets/fonts/Lexend-Regular.woff2") format("woff2"), url("../assets/fonts/Lexend-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura PT";
  src: local("Futura PT Medium"), local("Futura-PT-Medium"), url("../assets/fonts/FuturaPT-Medium.woff2") format("woff2"), url("../assets/fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
html,
body {
  height: 100%;
}

body {
  position: relative;
  font-family: "Lexend", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  background-color: #110a1d;
  overflow-x: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1640px;
  padding: 0 40px;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: fixed;
  top: 16px;
  z-index: 100;
}

.header__wrapper {
  position: relative;
  width: 100%;
  min-height: 96px;
  padding: 24px 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 64px;
  border: 4px solid #478bf9;
  background-color: #110a1d;
}

.header__nav .nav-header__list {
  display: flex;
  gap: 32px;
}

.nav-header__link {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.nav-header__link:hover {
  color: #478bf9;
}

.header__btn-list {
  position: absolute;
  right: 48px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 14px;
}
.header__btn-list .header__btn-item {
  display: flex;
  align-items: center;
  padding: 14px;
  border-radius: 24px;
  border: 2px solid #9dadf2;
  background: transparent;
  transition: all 0.3s ease-in-out;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
.header__btn-list .header__btn-item .header__btn-svg {
  flex: 1 0 auto;
  margin-right: 8px;
  width: 15px;
  height: 15px;
  fill: #9dadf2;
}
.header__btn-list .header__btn-item:hover {
  border: 2px solid #478bf9;
  background: #478bf9;
}
.header__btn-list .header__btn-item .header__btn-svg {
  transition: all 0.3s ease-in-out;
}
.header__btn-list .header__btn-item:hover .header__btn-svg {
  fill: #110a1d;
}
.header__btn-list .header__btn-item .switch-language-icon {
  fill: #110a1d;
}
.header__btn-list .switch-language {
  background: #9dadf2;
}

/* burger */
.header__burger-btn {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 36px;
  height: 36px;
  padding: 4px;
  z-index: 2;
}
.header__burger-btn span {
  width: 21px;
  height: 3px;
  background-color: #fff;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
  border-radius: 50rem;
}
.header__burger-btn:hover span {
  background-color: #478bf9;
}
.header__burger-btn:active span {
  background-color: #478bf9;
}
.header__burger-btn span:nth-child(1) {
  transform: translateY(-4px);
}
.header__burger-btn span:nth-child(3) {
  transform: translateY(4px);
}
.header__burger-btn.burger-animation-btn span:nth-child(1) {
  transform: translateY(0) rotate(-45deg);
  transform-origin: top;
}
.header__burger-btn.burger-animation-btn span:nth-child(2) {
  opacity: 0;
}
.header__burger-btn.burger-animation-btn span:nth-child(3) {
  transform: translateY(0) rotate(45deg);
}

.burger {
  transform: translateX(110%);
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  padding: 108px 0 40px;
  background-color: #110a1d;
  z-index: -1;
  transition: transform 0.5s ease-in, opacity 0.2s ease-in;
}

.burger.burger-open {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.5s ease-in, opacity 0.2s ease-in;
}

.nav-burger__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 30px;
}
.nav-burger__list .nav-burger__item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 13px 20px;
  border-radius: 28px;
  border: 2px solid #478bf9;
}
.nav-burger__list .nav-burger__item:active {
  background-color: #478bf9;
}
.nav-burger__list .nav-burger__item .nav-burger__link {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  overflow: hidden;
}
.nav-burger__list .nav-burger__item .nav-burger__link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.burger__btn-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.burger__btn-list .burger__btn-item {
  width: 100%;
  padding: 13px 20px;
  border-radius: 28px;
  border: 2px solid #9dadf2;
  background: #1e1231;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.burger__btn-list .burger__btn-item:active {
  background-color: #478bf9;
}

.hero {
  position: relative;
  margin-bottom: 80px;
}
.hero .gradient-1 {
  display: block;
  position: absolute;
  top: -120px;
  left: 150px;
  width: 226.458px;
  height: 1302.469px;
  transform: rotate(-54.311deg);
  background: linear-gradient(180deg, #478bf9 0%, rgba(71, 139, 249, 0.4) 100%);
  opacity: 0.55;
  filter: blur(150px);
  z-index: 3;
}
.hero .gradient-2 {
  display: block;
  position: absolute;
  bottom: 0;
  right: -100px;
  width: 574px;
  height: 574px;
  border-radius: 50%;
  opacity: 0.7;
  background: linear-gradient(256deg, #478bf9 0%, #9dadf2 100%);
  filter: blur(325px);
  z-index: 3;
}
.hero .gradient-3 {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(0deg, #110a1d 16%, rgba(17, 10, 29, 0.4) 74%, #110a1d 90%);
  z-index: 2;
}

.hero__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100dvh;
  padding-top: 120px;
}

.hero__info {
  position: relative;
  max-width: 669px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  z-index: 10;
}
.hero__info .hero__hgroup {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.hero__info .hero__hgroup .hero__title {
  color: #fff;
  font-size: 96px;
  font-weight: 500;
  line-height: 96px;
}
.hero__info .hero__hgroup .hero__title span {
  color: #478bf9;
  font-size: 96px;
  font-weight: 500;
  line-height: 96px;
}
.hero__info .hero__hgroup .hero__text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
}
.hero__info .hero__link {
  padding: 20px 72px;
  border-radius: 48px;
  background: #478bf9;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.hero__info .hero__link:hover {
  background: #fff;
  color: #478bf9;
}

.hero__carousel {
  display: flex;
  gap: 15px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  z-index: -1;
  overflow-y: hidden;
}
.hero__carousel .hero__carousel-list:nth-child(1) .hero__carousel-item {
  animation: scroll-bottom 30s linear infinite;
  opacity: 0.5;
}
.hero__carousel .hero__carousel-list:nth-child(2) .hero__carousel-item {
  animation: scroll-top 30s linear infinite;
  opacity: 1;
}
.hero__carousel .hero__carousel-list:nth-child(3) .hero__carousel-item {
  animation: scroll-bottom 30s linear infinite;
  opacity: 0.8;
}

.hero__carousel-item {
  --gap: 30px;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: calc(var(--gap) / 2) 0;
}
.hero__carousel-item .hero__animation-svg {
  flex: 1 0 auto;
  width: 100px;
  height: 100px;
}
.hero__carousel-item .--svg_long {
  width: 100px;
  height: 220px;
}
.hero__carousel-item .--svg_white {
  fill: #fff;
}
.hero__carousel-item .--svg_blue {
  fill: #478bf9;
}
.hero__carousel-item .--svg_sky-blue {
  fill: #9dadf2;
}
.hero__carousel-item .--svg_turquoise {
  fill: #7ddacf;
}
.hero__carousel-item .--svg_horizon {
  display: none;
}

@keyframes scroll-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes scroll-bottom {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.hero__blog {
  position: relative;
  width: 531px;
  z-index: 10;
}
.hero__blog .hero-blog__title {
  margin-bottom: 24px;
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
}
.hero__blog .hero-blog__list {
  max-height: 63vh;
  padding: 24px 40px 24px 24px;
  border-radius: 100px;
  border: 3px solid #478bf9;
  background: rgba(255, 255, 255, 0.12);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.hero__blog .hero-blog__list::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.12);
}
.hero__blog .hero-blog__list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #478bf9;
}
.hero__blog .hero-blog__list::-webkit-scrollbar {
  width: 8px;
  max-height: 20px;
}
.hero__blog .hero-blog__list .hero-blog__item {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 146px;
  padding: 16px 64px;
  background: #1e1231;
  transition: background 0.3s ease-in-out;
  border-radius: 50rem;
}
.hero__blog .hero-blog__list .hero-blog__item:not(:last-child) {
  margin-bottom: 16px;
}
.hero__blog .hero-blog__list .hero-blog__item .hero-blog__article-title {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}
.hero__blog .hero-blog__list .hero-blog__item .hero-blog__link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
.hero__blog .hero-blog__list .hero-blog__item:hover {
  background: #478bf9;
}
.hero__blog .hero-blog__list .hero-blog__item .hero-blog__time {
  margin-top: auto;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Futura PT";
  font-size: 14px;
  font-weight: 450;
  line-height: 16px;
}
.hero__blog .simplebar-content {
  display: flex;
  flex-direction: column;
}
.hero__blog .simplebar-track.simplebar-vertical {
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  width: 8px;
  height: 60%;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 50rem;
}
.hero__blog .simplebar-mask,
.hero__blog .simplebar-offset,
.hero__blog .simplebar-content-wrapper {
  border-radius: 99px;
}
.hero__blog .simplebar-scrollbar {
  border-radius: 50rem;
  background: #478bf9;
}
.hero__blog .simplebar-scrollbar.simplebar-visible:before {
  opacity: 0;
}

.footer {
  border-radius: 64px 64px 0px 0px;
  border-top: 4px solid #478bf9;
  border-right: 4px solid #478bf9;
  border-left: 4px solid #478bf9;
  background: #1e1231;
}

.footer__wrapper {
  width: 100%;
  min-height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 40px 0 24px;
}

.nav-footer__list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-footer__list .nav-footer__link {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  transition: all 0.2s ease-in-out;
}
.nav-footer__list .nav-footer__link:hover {
  color: #478bf9;
  text-decoration: underline;
}

.contacts-footer__title {
  margin-bottom: 14px;
  color: #fff;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.contacts-footer__list {
  display: flex;
  gap: 8px;
}

.contacts-footer__link {
  display: flex;
  width: 100%;
  height: 100%;
}
.contacts-footer__link svg {
  flex: 1 0 auto;
  width: 32px;
  height: 32px;
}
.contacts-footer__link svg path {
  transition: fill 1s ease-in-out;
}
.contacts-footer__link:hover svg path {
  fill: url(#gradientSVG);
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 100%;
    padding: 0 25px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1440px) {
  .header__wrapper {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 1200px) {
  .header {
    top: 10px;
  }
  .header__wrapper {
    min-height: 56px;
    padding: 14px 10px;
    justify-content: flex-end;
    border: 2px solid #478bf9;
  }
  .header__nav {
    display: none;
  }
  .header__btn-list {
    position: static;
    top: auto;
    transform: translateY(0);
    gap: 4px;
  }
  .header__btn-list .header__btn-item:not(:first-child) {
    display: none;
  }
  .header__btn-list .header__btn-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%;
    width: 36px;
    height: 36px;
  }
  .header__btn-list .header__btn-item .header__btn-svg {
    margin-right: 0;
    width: 19px;
    height: 19px;
  }
  .header__btn-list .--language {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%;
    width: 36px;
    height: 36px;
  }
  .header__btn-list .--language span {
    display: none;
  }
  .header__burger-btn {
    display: flex;
  }
}
@media screen and (max-width: 1200px) {
  .hero__wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    padding-top: 180px;
    flex-direction: column;
  }
  .hero__info {
    align-items: center;
  }
  .hero__title {
    text-align: center;
  }
  .hero__text {
    text-align: center;
  }
  .hero__carousel {
    position: static;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px 0;
    height: auto;
    width: 100vw;
    transform: translateX(0);
    z-index: -1;
    overflow: hidden;
  }
  .hero__carousel .hero__carousel-list {
    overflow: hidden;
    white-space: nowrap;
  }
  .hero__carousel .hero__carousel-list:nth-child(1) .hero__carousel-item {
    animation: scroll-bottom 30s linear infinite;
    opacity: 0.5;
  }
  .hero__carousel .hero__carousel-list:nth-child(2) .hero__carousel-item {
    animation: scroll-top 30s linear infinite;
    opacity: 1;
  }
  .hero__carousel .hero__carousel-list:nth-child(3) .hero__carousel-item {
    animation: scroll-bottom 30s linear infinite;
    opacity: 0.8;
  }
  @keyframes scroll-top {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes scroll-bottom {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .hero__carousel-item {
    width: -moz-max-content;
    width: max-content;
    display: inline-block;
    padding: 0;
  }
  .hero__carousel-item .hero__animation-svg {
    display: inline-block;
    margin: 0 15px;
    width: 100px;
    height: 100px;
  }
  .hero__carousel-item .--svg_long {
    width: 220px;
    height: 100px;
  }
  .hero__carousel-item .--svg_horizon {
    display: inline-block;
  }
  .hero__carousel-item .--svg_vertical {
    display: none;
  }
  .hero__blog {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    position: relative;
    margin-bottom: 100px;
  }
  .hero .gradient-1 {
    left: -69.152px;
    top: 22.712px;
    width: 81.081px;
    height: 466.334px;
    transform: rotate(-54.311deg);
    fill: linear-gradient(180deg, #478bf9 0%, rgba(71, 139, 249, 0.4) 100%);
    opacity: 0.55;
    filter: blur(39.7346191406px);
    z-index: 3;
  }
  .hero .gradient-2 {
    right: -97px;
    bottom: -49px;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    fill: var(--main-blue-hover, linear-gradient(256deg, #478bf9 0%, #9dadf2 100%));
    opacity: 0.7;
    filter: blur(135.8885040283px);
    z-index: 3;
  }
  .hero .gradient-3 {
    background: linear-gradient(0deg, #110a1d 16%, rgba(17, 10, 29, 0.1) 74%, #110a1d 90%);
  }
  .hero__wrapper {
    padding-top: 136px;
  }
  .hero__info {
    max-width: 100%;
    gap: 24px;
  }
  .hero__info .hero__hgroup {
    gap: 12px;
  }
  .hero__info .hero__hgroup .hero__title {
    font-size: 46px;
    line-height: 50px;
  }
  .hero__info .hero__hgroup .hero__title span {
    font-size: 46px;
    line-height: 50px;
  }
  .hero__info .hero__hgroup .hero__text {
    font-size: 20px;
    line-height: 26px;
  }
  .hero__info .hero__link {
    max-width: 100%;
    padding: 15px 20px;
    border-radius: 48px;
    background: #478bf9;
    color: #fff;
    font-size: 18px;
  }
  .hero__info .hero__link:hover {
    background: #fff;
    color: #478bf9;
  }
  .hero__carousel {
    gap: 8px;
  }
  .hero__carousel-item .hero__animation-svg {
    margin: 0 7px;
    width: 50px;
    height: 50px;
  }
  .hero__carousel-item .--svg_long {
    width: 110px;
    height: 50px;
  }
  .hero__blog {
    width: 100%;
  }
  .hero__blog .hero-blog__title {
    margin-bottom: 18px;
    font-size: 32px;
  }
  .hero__blog .hero-blog__list {
    max-height: 420px;
    padding: 10px 16px 10px 10px;
    border-radius: 50px;
    border: 2px solid #478bf9;
  }
  .hero__blog .hero-blog__list .hero-blog__item {
    min-height: 112px;
    padding: 15px 32px;
    border-radius: 40px;
  }
  .hero__blog .hero-blog__list .hero-blog__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .hero__blog .hero-blog__list .hero-blog__item .hero-blog__article-title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
  }
  .hero__blog .simplebar-track.simplebar-vertical {
    right: 6px;
    width: 4px;
    height: 70%;
  }
  .hero__blog .simplebar-mask,
  .hero__blog .simplebar-offset,
  .hero__blog .simplebar-content-wrapper {
    border-radius: 49px;
  }
}
@media screen and (max-width: 1024px) {
  .footer__wrapper {
    min-height: 130px;
    display: flex;
    align-items: flex-start;
    justify-content: normal;
    gap: 20px;
    padding: 20px 0 20px;
    flex-direction: column;
  }
  .contacts-footer__title {
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  .nav-footer__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    border-radius: 50px 50px 0px 0px;
    border-top: 2px solid #478bf9;
    border-right: 2px solid #478bf9;
    border-left: 2px solid #478bf9;
  }
  .footer__wrapper {
    min-height: 233px;
    padding: 20px 10px;
  }
  .nav-footer__list .nav-footer__link {
    font-size: 14px;
  }
  .contacts-footer__title {
    margin-bottom: 8px;
    font-size: 14px;
  }
  .contacts-footer__link svg {
    width: 27px;
    height: 27px;
  }
}/*# sourceMappingURL=styles.css.map */