@import "./reset";
@import "./fonts";
@import "./variables";
@import "./global";

// HEADER
.header {
  width: 100%;
  position: fixed;
  top: 16px;
  z-index: 100;
}

.header__wrapper {
  position: relative;
  width: 100%;
  min-height: 96px;
  padding: 24px 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 64px;
  border: 4px solid $blue-color;
  background-color: $background-color;
}

.header__nav {
  .nav-header__list {
    display: flex;
    gap: 32px;
  }
}

.nav-header__link {
  color: $text-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  &:hover {
    color: $blue-color;
  }
}

.header__btn-list {
  position: absolute;
  right: 48px;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  gap: 14px;

  .header__btn-item {
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 24px;
    border: 2px solid $border-color;
    background: transparent;
    transition: all 0.3s ease-in-out;

    color: $text-color;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;

    .header__btn-svg {
      flex: 1 0 auto;
      margin-right: 8px;
      width: 15px;
      height: 15px;
      fill: $border-color;
    }

    &:hover {
      border: 2px solid $blue-color;
      background: $blue-color;
    }

    & .header__btn-svg {
      transition: all 0.3s ease-in-out;
    }
    &:hover .header__btn-svg {
      fill: $background-color;
    }

    .switch-language-icon {
      fill: $background-color;
    }
  }
  .switch-language {
    background: $border-color;
  }
}

/* burger */
.header__burger-btn {
  display: none; //flex
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 36px;
  height: 36px;
  padding: 4px;
  z-index: 2;

  span {
    position: absolute;
    width: 21px;
    height: 3px;
    background-color: $white-color;
    transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
    border-radius: 50rem;
  }

  &:hover span {
    background-color: $blue-color;
  }

  &:active span {
    background-color: $blue-color;
  }

  & span:nth-child(1) {
    transform: translateY(-6px);
  }

  & span:nth-child(3) {
    transform: translateY(6px);
  }

  &.burger-animation-btn span:nth-child(1) {
    transform: translateY(0) rotate(-45deg);
  }

  &.burger-animation-btn span:nth-child(2) {
    opacity: 0;
  }

  &.burger-animation-btn span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
  }
}

// burger

.burger {
  transform: translateX(110%);
  opacity: 0;
  // display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  padding: calc(30px + 68px + 10px) 0 40px;
  background-color: $background-color;
  z-index: -1;

  transition: transform 0.5s ease-in, opacity 0.2s ease-in;
}

.burger.burger-open {
  transform: translateX(0);
  opacity: 1;
  // display: block;
  transition: transform 0.5s ease-in, opacity 0.2s ease-in;
}

.nav-burger__list {
  display: flex;
  flex-direction: column;

  gap: 5px;
  margin-bottom: 30px;

  .nav-burger__item {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 13px 20px;
    border-radius: 28px;
    border: 2px solid $blue-color;

    &:active {
      background-color: $blue-color;
    }

    .nav-burger__link {
      color: $white-color;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.burger__btn-list {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .burger__btn-item {
    width: 100%;
    padding: 13px 20px;
    border-radius: 28px;
    border: 2px solid $border-color;
    background: $background-footer-color;

    color: $white-color;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

    &:active {
      background-color: $blue-color;
    }
  }
}
//

// HERO

.hero {
  position: relative;
  margin-bottom: 80px;

  .gradient-1 {
    display: block;
    position: absolute;
    top: -120px;
    left: 150px;

    width: 226.458px;
    height: 1302.469px;
    transform: rotate(-54.311deg);

    background: linear-gradient(
      180deg,
      #478bf9 0%,
      rgba(71, 139, 249, 0.4) 100%
    );
    opacity: 0.55;
    filter: blur(150px);
    z-index: 3;
  }

  .gradient-2 {
    display: block;
    position: absolute;
    bottom: 0;
    right: -100px;

    width: 574px;
    height: 574px;

    border-radius: 50%;
    opacity: 0.7;
    background: linear-gradient(256deg, #478bf9 0%, #9dadf2 100%);
    filter: blur(325px);
    z-index: 3;
  }

  .gradient-3 {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(
      0deg,
      $background-color 16%,
      rgba(17, 10, 29, 0.4) 74%,
      $background-color 90%
    );
    z-index: 2;
  }
}

.hero__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100dvh;
  padding-top: 120px;
}

.hero__info {
  position: relative;
  max-width: 669px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  z-index: 10;

  .hero__hgroup {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .hero__title {
      color: $text-color;
      font-size: 96px;
      font-weight: 500;
      line-height: 96px;

      span {
        color: $blue-color;
        font-size: 96px;
        font-weight: 500;
        line-height: 96px;
      }
    }

    .hero__text {
      color: $text-color-opacity;
      font-size: 32px;
      font-weight: 500;
      line-height: 32px;
    }
  }

  .hero__link {
    padding: 20px 72px;
    border-radius: 48px;
    background: $blue-color;

    color: $text-color;
    text-align: center;

    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: $text-color;

      color: $blue-color;
    }
  }
}

// hero__carousel
.hero__carousel {
  display: flex;
  gap: 15px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  z-index: -1;
  overflow-y: hidden;

  .hero__carousel-list {
    &:nth-child(1) {
      .hero__carousel-item {
        animation: scroll-bottom 30s linear infinite;
        opacity: 0.5;
      }
    }
    &:nth-child(2) {
      .hero__carousel-item {
        animation: scroll-top 30s linear infinite;
        opacity: 1;
      }
    }
    &:nth-child(3) {
      .hero__carousel-item {
        animation: scroll-bottom 30s linear infinite;
        opacity: 0.8;
      }
    }
  }
}

.hero__carousel-item {
  --gap: 30px;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: calc(var(--gap) / 2) 0;

  .hero__animation-svg {
    flex: 1 0 auto;
    width: 100px;
    height: 100px;
  }

  .--svg_long {
    width: 100px;
    height: 220px;
  }

  .--svg_white {
    fill: #fff;
  }

  .--svg_blue {
    fill: #478bf9;
  }

  .--svg_sky-blue {
    fill: #9dadf2;
  }

  .--svg_turquoise {
    fill: #7ddacf;
  }

  .--svg_horizon {
    display: none;
  }
}

@keyframes scroll-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes scroll-bottom {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

// hero__blog

.hero__blog {
  position: relative;
  width: 531px;
  z-index: 10;

  .hero-blog__title {
    margin-bottom: 24px;

    color: $text-color;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
  }

  .hero-blog__list {
    max-height: 63vh;

    padding: 24px 40px 24px 24px;
    // overflow-x: hidden;
    // overflow-y: auto;
    border-radius: 100px;
    border: 3px solid $blue-color;
    background: $background-color-opacity;

    backdrop-filter: blur(10px);

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background: $background-color-opacity;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: $blue-color;
    }
    &::-webkit-scrollbar {
      width: 8px;
      max-height: 20px;
    }

    .hero-blog__item {
      position: relative;
      display: flex;
      flex-direction: column;
      min-height: 146px;
      padding: 16px 64px;
      background: $background-footer-color;
      transition: background 0.3s ease-in-out;
      border-radius: 50rem;

      &:not(:last-child) {
        margin-bottom: 16px;
      }

      .hero-blog__article-title {
        color: $text-color;
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
      }

      .hero-blog__link::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
      }

      &:hover {
        background: $blue-color;
      }

      .hero-blog__time {
        margin-top: auto;
        color: $text-color-opacity;
        font-family: "Futura PT";
        font-size: 14px;
        font-weight: 450;
        line-height: 16px;
      }
    }
  }

  // simplebar-hero
  .simplebar-content {
    display: flex;
    flex-direction: column;
  }

  .simplebar-track.simplebar-vertical {
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    width: 8px;
    height: 60%;
    background: $background-color-opacity;
    border-radius: 50rem;
  }

  .simplebar-mask,
  .simplebar-offset,
  .simplebar-content-wrapper {
    border-radius: 99px;
  }

  .simplebar-scrollbar {
    border-radius: 50rem;
    background: $blue-color;
  }

  .simplebar-scrollbar.simplebar-visible:before {
    opacity: 0;
  }
}

// FOOTER
.footer {
  border-radius: 64px 64px 0px 0px;
  border-top: 4px solid $blue-color;
  border-right: 4px solid $blue-color;
  border-left: 4px solid $blue-color;
  background: $background-footer-color;
}

.footer__wrapper {
  width: 100%;
  min-height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 40px 0 24px;
}

.nav-footer__list {
  display: flex;
  align-items: center;
  gap: 40px;

  .nav-footer__link {
    color: $text-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $blue-color;
      text-decoration: underline;
    }
  }
}

.contacts-footer__title {
  margin-bottom: 14px;
  color: $text-color;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.contacts-footer__list {
  display: flex;
  gap: 8px;
}

.contacts-footer__link {
  display: flex;
  width: 100%;
  height: 100%;

  svg {
    flex: 1 0 auto;
    width: 32px;
    height: 32px;

    path {
      transition: fill 1s ease-in-out;
    }
  }

  &:hover svg path {
    fill: url(#gradientSVG);
  }
}
@import "./mediaQueries";
